.DogDetails-age {
  font-size: 20px;
}

.DogDetails-image {
  width: 600px;
  height: auto;
}

.DogDetails-facts {
  list-style: none;
  margin-top: 10px;
}

.DogDetails-facts li {
  font-size: 18px;
}
